@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Order.AjaxCart.Models;
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                
            </div>
        </div>
    </div>
}